" Hotkeys
" moving in normal mode
noremap q ge
noremap Q ^
noremap E $

" start of the next word
noremap f w
noremap F W

" russian
noremap ф <left>
noremap Ф <left>
noremap ц <up>
noremap Ц <up>
noremap ы <down>
noremap ы <down>
noremap в <right>
noremap В <right>

" english
noremap a <left>
noremap A <left>
noremap w <up>
noremap W <up>
noremap s <down>
noremap S <down>
noremap d <right>
noremap D <right>

" inserting
noremap ш i
noremap Ш I
noremap о a
noremap О A

noremap j a
noremap J A


if has('macunix')
  noremap <C-a> <left>
  noremap <C-w> <up>
  noremap <C-s> <down>
  noremap <C-d> <right>
  inoremap <C-a> <left>
  inoremap <C-w> <up>
  inoremap <C-s> <down>
  inoremap <C-d> <right>
else
  noremap <A-a> <left>
  noremap <A-w> <up>
  noremap <A-s> <down>
  noremap <A-d> <right>
  inoremap <A-a> <left>
  inoremap <A-w> <up>
  inoremap <A-s> <down>
  inoremap <A-d> <right>
  inoremap <A-c> <Esc>

  " removing buffer
  noremap <C-w> :bd<CR>
  inoremap <C-w> <Esc>:bd<CR>
endif
